

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/App/App.js"></script>
    <title>Index</title>
</head>
<body>
<input id="UserName" type="text" value="Sinan"/>
<input id="Password" type="password" value="Bir"/>
<input id="Login" type="button" value="Login"/>
<input id="Logout" type="button" value="Logout" />
<input id="Get" type="button" value="Get Data" />

</body>
</html>
